<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8">
		<title>Tangy Multi-Color Button Set (Courtesy of PixelBin)</title>

		<link href="css/reset.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet" media="screen">

	</head>

	<body>

		<div class="page-center">

			<a class="button black-button" href="#">Download</a>
			<a class="button grey-button" href="#">Download</a>
			<a class="button plum-button" href="#">Download</a>
			<a class="button purple-button" href="#">Download</a>
			<a class="button blue-button" href="#">Download</a>

			<a class="button azure-button" href="#">Download</a>
			<a class="button pink-button" href="#">Download</a>
			<a class="button red-button" href="#">Download</a>
			<a class="button orange-button" href="#">Download</a>
			<a class="button green-button" href="#">Download</a>

		</div>

	</body>

</html>