#loginContainer{
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
#frmLogin{

}

input,textarea,select   { 
border: solid 1px #E5E5E5; 
outline: 0; 
background:#FFFFFF url('../bg_form.png') left top repeat-x; 
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
	color-stop(4%, #EEEEEE), to(#FFFFFF)); 
background: -moz-linear-gradient(top, #FFFFFF, 
 #EEEEEE 1px, #FFFFFF 25px); 
	 box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
	 -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
	 -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
#loginCon   { 
	padding: 50px 0px 0px 0px; 
	background: url('../images/login-bg.png') no-repeat; 
	width: 433px; 
	height: 293px; 
}
input#login { 
	background: #000 url('../images/btn_bg.png') repeat-x; 
	color: #fff; 
	cursor: pointer; 
	border: 0px;}
input#login:hover  { 
	background: #000; 
}
input#login { 
	-moz-border-radius: 5px 5px 5px 5px;     
	-webkit-border-radius: 5px 5px 5px 5px; 

}
input,textarea { 
	-moz-border-radius: 5px 5px 5px 5px;     
	-webkit-border-radius: 5px 5px 5px 5px; 
}
#form_lbl               { font-weight: bold; color: #4c4c4c; }

/* Mr. Hover Shadow  */

input:hover , 
textarea:hover 		   {-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px; -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px}

/* Mrs. Focus Shadow  */

input:focus , 
textarea:focus         {-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px; -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px}

.Frmbtn                 { padding: 10px; }
.Gform td				{ width: 250px; padding: 10px;}
.Gform td#tip 			{ width: 200px; font-size: 11px; color:#808080; font-style: italic;}

