/* Author: Gerome */

/* Html */
html					{ margin:0px;padding:0px;} /**/
a                       { text-decoration: none; color: #000; } /**/
p                       { overflow: hidden;padding: 10px 0;text-align: center;} /**/
body 				    { background: #D6DBE6 url(../images/bg.gif); font-family: Verdana; font-size: 12px; margin:0;padding:0; }
h2                      { width:100%; margin:15px; background:#2790c4; text-align:left; color:#f8f8f8;}
/* Input,Textarea.. Design Credits to PSD TUTS.. */
input,textarea,select   { border: solid 1px #E5E5E5; outline: 0; background: #FFFFFF url('../bg_form.png') left top repeat-x; background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; }

/* The Main Division*/

#container			    { margin:0; padding:0; width: 100%; overflow: hidden; }
#headerContainer	    { width: 100%; margin:0;padding:0; }
#topHeader			    { width: 100%; background: #000 url('../images/top_menu_bg.gif'); margin:0;padding:0; height: 35px; overflow: hidden;}
#midHeader			    { width: 100%; background: #345F8E url('../images/banner_bg.gif') repeat-x; margin:0;padding:0; height: 200px; }
#botHeader			    { width: 100%; background: #F4F4F4 url('../images/menu_bg.gif') repeat-x; margin:0;padding:0; height: 40px;  border: 1px solid #CCC;}
#centerContainer        { width: 100%; background: #D6DBE6; overflow: hidden;}
#footerContainer        { width: 100%; background: #D6DBE6;  margin:0;padding:0; overflow: hidden; font-size: 10px;}
	
/* The Containers */

#toolbarContainer       { background: #fff; border: 1px solid #e7e7e7; padding: 10px; margin: -10px 0px 10px 0px; overflow: hidden;}
#loginContainer         { width: 400px; margin: 0px 0px 0px 105px; padding:0px;}
#My_details             { border: 1px solid #f4f4f4; overflow: hidden; }
#formWraper             { border-left: 1px solid #ebf0f3; border-right: 1px solid #ebf0f3; overflow: hidden; width: 99%;}
#centerContainer  
.wrapper                { margin: 0px 20px 0px 20px; background: #fff; }
#centerContainer  
.wrapper .wrapper       { margin: 0px 20px 20px 20px; overflow: hidden; }
#searchCon              { float: right;margin: 210px 30px 0px 0px; }
#loginCon               { padding: 50px 0px 0px 0px; background: url('../images/login-bg.png') no-repeat; width: 433px; height: 293px; }

/* Other Stuff goes Here..  */

.form,
#formID_create          { background: #fff; padding-bottom: 10px;}
#button                 { cursor: pointer;padding: 10px; }
.big_btn		        { padding: 20px; }
h2#infoBox              { width: 98%; background:#345f8e; text-align:left; color:#f8f8f8; padding:10px; margin: 0px; font-size: 17px;}
h2#infoBox2             { background:#d6e4f1; text-align:left; color:#2265a7; padding:10px; margin: 0px; font-size: 12px;}
h1#headingTitle         { color: #146295; border: 1px solid #e7e7e7; padding:10px;}
.breadcrumbs            { margin: 10px 0px 10px 0px; }
.breadcrumbs,
.breadcrumbs a          { color: #9B9B9B; font-size: 10px; }
#toolbarContainer ul	{ list-style-type: none; margin: 0px 0px 0px 0px; padding: 0px;}
#toolbarContainer 
ul	li				    { float: left; }
select#group            { border: 1px solid #ccc; width: 310px; padding: 5px;}
#botHeader 
ul.sf-menu              { margin: 0px 0px 0px 20px;}
#botHeader 
ul.sf-menu li           { background: transparent;}
#botHeader 
ul.sf-menu li li        { background: #d7d7d7;}
li#my_dashboard		    { }
#form_lbl               { font-weight: bold; color: #4c4c4c; }
b#required              { color:#ab1f39; font-size:11px; }
h4#required             { color:#ab1f39; background:#f3e3e6; }
b#required_symbol       { color:#ab1f39; font-size: 9px; }
div#error               { background:#f3e3e6; color:#80001c; width: 90%; height:; overflow:hidden; margin:0px; padding:10px; border-top:2px solid #e599aa; border-bottom:2px solid #e599aa; font-weight: bold; text-align: left;}
span#error              { color:#ab1f39; font-weight:bold; }
#formID_create          { margin: 0px 0px 20px 0px; }
#email,#password, 
#first_name, 
#last_name, 
#address, 
#phone_number, 
#cell_number            { width: 300px; }
#middle_initial 		{ width: 10px; }
#address 			    { width: 300px; }
input,textarea			{ border: 1px solid #ccc; padding: 5px; }
input:focus, 
textarea:focus		    { background: #FDFDF2; }
input#login, 		
input#btnregister       { background: #000 url('../images/btn_bg.png') repeat-x; color: #fff; cursor: pointer; border: 0px;}
input#btnregister:hover,
input#login:hover       { background: #000; }
#searchCon
input:focus             { color: #000; }
#tlbr_add_new_member    { width: 150px; display:block; padding:5px; background:#e7eff3; border:1px solid #d4e4f3; color: #0057bc; text-align: right;}
input#login             { margin: 0px 0px 0px 100px;}
#footerContainer p,
#footerContainer        { color: #8d9196; }
#toolbarContainer  img  { margin-top: 10px; }

/* Classes wil Go Beyond this Line ? */
.tlbr_logo              {float: left; }
.tlbr_icon              {float: right; }
.Frmbtn                 { padding: 10px; }
.tlbr_item              { width: 150px; display:block; padding:5px; background:#e7eff3; border:1px solid #d4e4f3; color: #0057bc; text-align: center; }
.tlbr_item:hover        { border:1px solid #66b8f8; }

.form td				{ width: 250px; padding: 10px;}
.form td#tip 			{ width: 200px; font-size: 11px; color:#808080; font-style: italic;}
i.tip				    { color:#808080;}
.btnWrapper             { padding: 10px; background:#f5f5f5; }
.style_i                { font-style: italic; color: #ccc; }
.btnSiteConf    	    { background: url('images/Cofigure.png'); float: left;}
.btnSiteConf	        { width: 250px; float: left; margin: 30px; text-align: center; font-weight: bold; }
.big_a			        { color: #423f45; }
.big_a img			    { width: 200px; height:  200px; }
.con_error              { width: 600px;min-height: 200px; margin: 0 auto; overflow: auto; margin-top: 100px; margin-bottom: -200px;}
.con_error .error       { margin: -25px 0px -10px 50px; font-size:10px;}
.clear                  { clear: both;}
a.tlbr_btn              { font-size: 7px; width: 100px;  color: #345f8e; text-align: center;}
a.add                   { background: url('../images/add.png'); height: 0px; width: 48px; display:inline-block; text-shadow:0 1px 0 #fff; padding-top: 50px;  }
a.trash                 { background: url('../images/recycle.png'); height: 0px; width: 48px; display:inline-block; text-shadow:0 1px 0 #fff; padding-top: 50px;  }
a.link                  { color: #587fac; margin: 0px 0px 0px 10px; }

h5.welcome              { color:  #cdd2d8; margin: 5px 0px 0px 10px}


/* The Rounded Corners */

input#login , 
input#btnregister,
select#group 		  	{ -moz-border-radius: 5px 5px 5px 5px;     -webkit-border-radius: 5px 5px 5px 5px; }
input,textarea	 		{ -moz-border-radius: 5px 5px 5px 5px;     -webkit-border-radius: 5px 5px 5px 5px; }
h1#headingTitle,
#searchCon		        { -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
h2#infoBox			    { -moz-border-radius: 10px 10px 0px 0px;   -webkit-border-radius: 10px 10px 0px 0px; }

/* Shadow Family Goes Beyond this line */

h1#headingTitle		   {-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 4px; -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 4px}

/* Mr. Hover Shadow  */

input:hover , 
textarea:hover 		   {-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px; -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px}

/* Mrs. Focus Shadow  */

input:focus , 
textarea:focus         {-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px; -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px}

/* background Shadow*/
.tlbr_item             {background: -webkit-gradient(linear, left top, left 25, from(#e7eff3), color-stop(4%, #EEEEEE), to(#FFFFFF)); background: -moz-linear-gradient(top, #e7eff3, #e7eff3 1px, #f5f8f9 25px);   }