<div class="modal_dialog"  style="min-height:50px">
  <div class="header"><span>ADD_DIALOG</span><div class="close_me"><a  id="close_windows"  class="butAcc"  ><img src="images/icon/closeme.png"  alt="closeme"/> </a></div> </div>
  
  <div class="clear"></div>
  <div class="content">
    <form name="Add_form" id="Add_form"  >
      <div class="section">
      <label>Album Name </label>   
        <div>
          <input type="text" name="name" id="name"  class=" large" value="02/25/2012" />
        </div>
      </div>
      <div class="section last">
        <div>
          <a  class="uibutton" >submit</a> or <a id="close_windows"   class="butAcc">cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>